body {
    background-color: #F8F9FA;
    font-family: 'Roboto', sans-serif;
}


/* header */

.navbar>.container-fluid {
    justify-content: center;
}

.navbar .bi {
    font-size: 30px;
}

.navbar li.nav-item .nav-link {
    color: #212529;
    font-weight: bold;
    display: flex;
    flex-direction: column-reverse;
}

.navbar li .nav-link.active {
    background-color: #DCDCDE;
    border-radius: 0 0 5px 5px;
}

.navbar-tab .bi {
    font-size: 15px;
}

input[type='range'] {
    border: solid 1px #212529;
    border-radius: 8px;
    height: 7px;
    width: 100%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.tab-item {
    display: none;
}

.tab-item.active {
    display: flex;
}

.form-switch {
    position: fixed;
    top: 10px;
    right: 50px;
    z-index: 11;
}

.form-check-input:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}


/* main */

main label.upload {
    height: 300px;
    border: 2px dashed #212529;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

main input#upload-file {
    visibility: hidden;
}

.upload .bi {
    font-size: 55px;
}

.image {
    width: 300px;
    height: 300px;
}

#rotate-right .bi::before {
    transform: rotateY(180deg);
}


/* dark theme */

body.dark {
    background-color: #1E1E1E;
    color: #F8F9FA;
    font-family: 'Roboto', sans-serif;
}

body.dark .navbar li.nav-item .nav-link {
    color: #F8F9FA;
}

body.dark .navbar li .nav-link.active {
    background-color: #3b3b3b;
}

body.dark input[type='range'] {
    border: solid 1px #F8F9FA;
}

body.dark main label.upload {
    border: 2px dashed #F8F9FA;
}

body.dark .navbar-light {
    background-color: #1E1E1E !important;
}

body.dark .btn-outline-dark {
    color: #F8F9FA;
    background-color: #363c42;
    border-color: #363c42;
}

body.dark .btn-outline-dark:hover {
    background-color: #1E1E1E;
    border-color: #363c42;
}