body {
    background-color: #F8F9FA;
    font-family: 'Roboto', sans-serif;
}


/* header */

.navbar>.container-fluid {
    justify-content: center;
}

.navbar .bi {
    font-size: 30px;
}

.navbar li.nav-item .nav-link {
    color: #212529;
    font-weight: bold;
    display: flex;
    flex-direction: column-reverse;
}

.navbar li .nav-link.active {
    background-color: #DCDCDE;
    border-radius: 0 0 5px 5px;
}

.navbar-tab .bi {
    font-size: 15px;
}

input[type='range'] {
    background: linear-gradient(to right, #212529 0%, #212529 1%, #fff 1%, #fff 100%);
    border: solid 1px #212529;
    border-radius: 8px;
    height: 7px;
    width: 100%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.tab-item {
    display: none;
}

.tab-item.active {
    display: flex;
}


/* main */

main label.upload {
    height: 300px;
    border: 2px dashed #212529;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

main input#upload-file {
    visibility: hidden;
}

.upload .bi {
    font-size: 55px;
}

.image {
    width: 300px;
    height: 300px;
}

#rotate-right .bi::before {
    transform: rotateY(180deg);
}